:root {
    --primary-color: #0065FC;
    --secondary-color: #DEEBFF;
    --main-background-color: #FFFFFF;
    --contrast-background-color: #F2F2F2;
    --primary-text-color: #000000;
    --secondary-text-color: #FFFFFF;
    --light-border-color: #F2F2F2;
    --soft-border-radius: 11px;
    --circle-border-radius: 50%;
    --spacing: 8px;
    --spacing-2: 16px;
    --spacing-3: 32px;
    --filters-item-height: 40px;
}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3 a {
    font-weight: bold;
    color: var(--primary-text-color);
}

a:active, a:hover {
    color: var(--primary-color);
}

/** App bar **/
#app-bar {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 80px;
    padding: 1%;
}

#brand-logo {
    margin: 0;
    max-height: 100%;
}

/** App content **/
#app-content {
    padding: var(--spacing);
    display: flex;
    flex-direction: column;
}

#site-description {
    margin-bottom: var(--spacing);
}

#site-sub-description {
    margin-top: 0;
}

/** Search bar **/
#search-bar {
    width: 35%;
    display: flex;
    flex-flow: row nowrap;
    border-top: 1px solid var(--light-border-color);
    border-bottom: 1px solid var(--light-border-color);
    border-radius: var(--soft-border-radius);
    padding: 0;
}

#search-bar-icon {
    width: 50px;
    min-width: 50px;
    display: flex;
    background-color: var(--contrast-background-color);
    border-top-left-radius: var(--soft-border-radius);
    border-bottom-left-radius: var(--soft-border-radius);
}

#search-bar-icon i {
    margin: auto;
}

#search-bar-input {
    flex: 2;
    border: none;
    padding-left: var(--spacing-2);
    font-weight: bold;
}

#search-bar-button {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    border: none;
    border-top-right-radius: var(--soft-border-radius);
    border-bottom-right-radius: var(--soft-border-radius);
    padding: var(--spacing-2) var(--spacing-2);
    font-weight: bold;
    cursor: pointer;
}

#search-bar-button-label-mobile {
    display: none;
}

@media (max-width: 1200px) {
    #search-bar {
        margin: auto;
        width: 70%;
    }
}

@media (max-width: 576px) {
    #search-bar {
        width: 90%;
    }

    #search-bar-button {
        width: 50px;
        min-width: 50px;
        border-radius: var(--soft-border-radius);
    }

    #search-bar-button-label {
        display: none;
    }

    #search-bar-button-label-mobile {
        display: inline-block;
    }
}

/** Filters bar **/
#filters-bar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#filters-bar-title {
    margin-right: var(--spacing-3);
}

#filters-collection {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    padding: 0;
}

.filters-item {
    display: flex;
    height: var(--filters-item-height);
    margin: var(--spacing);
    padding: 0 var(--spacing-2) 0 0;
    border: solid 2px var(--light-border-color);
    border-left: none;
    border-radius: 25px;
    background-color: var(--main-background-color);
    cursor: pointer;
}

.filters-item:hover, .filters-item:focus {
    border-color: var(--primary-color);
    transform: scale(1.1);
}

.filters-item-icon {
    display: inline-block;
    position: relative;
    top: -2px;
    left: -2px;
    width: var(--filters-item-height);
    height: var(--filters-item-height);
    line-height: var(--filters-item-height);
    margin-right: var(--spacing);
    border-radius: var(--circle-border-radius);
    background-color: var(--secondary-color);
    color: var(--primary-color);
    text-align: center;
}

.filters-item:hover .filters-item-icon, .filters-item:focus .filters-item-icon {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
}

.filters-item-label {
    margin: auto;
    font-weight: bold;
}

.fa-info-circle {
    color: var(--primary-color);
}
