:root {
    --primary-color: #0065FC;
    --secondary-color: #DEEBFF;
    --main-background-color: #FFFFFF;
    --contrast-background-color: #F2F2F2;
    --primary-text-color: #000000;
    --secondary-text-color: #FFFFFF;
    --soft-border-radius: 11px;
    --circle-border-radius: 50%;
}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, a {
    font-weight: bold;
    color: var(--primary-text-color);
}

a:active, a:hover {
    color: var(--primary-color);
}

/** App bar **/
#app-bar {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 80px;
    padding: 1%;
}

#brand-logo {
    margin: 0;
    max-height: 100%;
}

/** App content **/
#app-content {
    padding: 1%;
}

/** Search bar **/
#search-bar {
    display: flex;
    flex-flow: row nowrap;
    --padding: 0.6% 1%;
}

#search-bar-icon {
    display: flex;
    padding: var(--padding);
    background-color: var(--contrast-background-color);
    border-top-left-radius: var(--soft-border-radius);
    border-bottom-left-radius: var(--soft-border-radius);
}

#search-bar-icon i {
    margin: auto;
}

#search-bar-input {
    border: 1px solid #F2F2F2;
    padding: var(--padding);
    font-weight: bold;
}

#search-bar-button {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    border: none;
    border-top-right-radius: var(--soft-border-radius);
    border-bottom-right-radius: var(--soft-border-radius);
    padding: var(--padding);
}
